---
layout: home
permalink: /
---
{% assign catstr = ';' %}
{% for post in site.posts %}
{% for category in post.categories %}
{% if catstr contains category %}{% else %}
{% capture catstr %}{{ catstr | prepend:';' | prepend:category }}{% endcapture %}
{% endif %}
{% endfor %}
{% endfor %}
{% assign categories = catstr | split:';' | sort %}
<section class="container" id="accueil">
	<div class="wrapper">
		<div class="innerwrapper">
			<div class="cadre">
				<div class="text">
					<p class="welcome">Bienvenue,<br/><span class="small">je suis</span> VANESSA ROBIDOU.</p>
					<p class="subtitle">Design graphique - Illustration</p>
				</div>
			</div>
		</div>
	</div>
	<a class="scrollable down" data-target="#a-propos" href="{{ site.url }}#a-propos" aria-hidden="true"></a>
</section>
<section class="container-fluid" id="a-propos">
	<div class="container">
		<h1>À Propos</h1>
		<p>Je m'appelle Vanessa, j'ai 28 ans et je vis à Rennes.</p>
		<p>Suite à mon parcours de formation en Infographie à la <a href="http://www.mjm-design.com/formation/infographie" target="_blank">MJM Graphic Design</a> de Rennes (promotion 2014/2015), j'ai obtenu le titre professionnel de "concepteur en supports de communication" (BAC+2).</p>
		<p>Je suis désormais à la recherche d'un emploi d'infographiste. Si vous le souhaitez, vous pouvez consulter mon <a href="{{ site.url }}/assets/files/vanessa_robidou_cv.pdf" target="_blank">CV</a>.</p>
		<p>N'hésitez pas à me <a class="scrollable" data-target="#contact" href="{{ site.url }}#contact">contacter</a> ! À bientôt.</p>
	</div>
	<a class="scrollable down" data-target="#prestations" href="{{ site.url }}#prestations" aria-hidden="true"></a>
</section>
<section class="container-fluid" id="prestations">
	<div class="container">
		<h1>Prestations</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac magna non augue porttitor scelerisque ac id diam. Mauris elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis ligula ut ipsum mattis viverra. Nulla a libero metus. Integer gravida tempor metus eget condimentum. Integer eget iaculis tortor. Nunc sed ligula sed augue rutrum ultrices eget nec odio. Morbi rhoncus, sem laoreet tempus pulvinar, leo diam varius nisi, sed accumsan ligula urna sed felis. Mauris molestie augue sed nunc adipiscing et pharetra ligula suscipit. In euismod lectus ac sapien fringilla ut eleifend lacus venenatis.</p>
		<p>Proin ornare ligula eu tellus tempus elementum. Aenean bibendum iaculis mi, nec blandit lacus interdum vitae. Vestibulum non nibh risus, a scelerisque purus. Ut vel arcu ac tortor adipiscing hendrerit vel sed massa. Fusce sem libero, lacinia vulputate interdum non, porttitor non quam. Aliquam sed felis ligula. Duis non nulla magna.</p>
		<p>Integer elementum massa at nulla placerat varius. Suspendisse in libero risus, in interdum massa. Vestibulum ac leo vitae metus faucibus gravida ac in neque. Nullam est eros, suscipit sed dictum quis, accumsan a ligula. In sit amet justo lectus. Etiam feugiat dolor ac elit suscipit in elementum orci fringilla. Aliquam in felis eros. Praesent hendrerit lectus sit amet turpis tempus hendrerit. Donec laoreet volutpat molestie. Praesent tempus dictum nibh ac ullamcorper. Sed eu consequat nisi. Quisque ligula metus, tristique eget euismod at, ullamcorper et nibh. Duis ultricies quam egestas nibh mollis in ultrices turpis pharetra. Vivamus et volutpat mi. Donec nec est eget dolor laoreet iaculis a sit amet diam. </p>
	</div>
	<a class="scrollable down" data-target="#portfolio" href="{{ site.url }}#portfolio" aria-hidden="true"></a>
</section>
<section class="container-fluid" id="portfolio">
	<div class="container">
		<h1>Portfolio</h1>
		<ul class="nav nav-pills" id="categories">
			<li role="presentation" class="active"><a data-filter="*">Tout voir</a></li>
			{% for category in categories %}
			<li role="presentation"><a data-filter="{{ category | downcase | replace:' ','-' | prepend:'.category-' }}">{{ category | capitalize }}</a></li>
			{% endfor %}
		</ul>
		<div id="projects">
			{% for post in site.posts %}
			<div class="project{% for category in post.categories %}{{ category | downcase | replace:' ','-' | prepend:' category-' }}{% endfor %}">
				<div class="wrapper">
					<div class="picture">
						<a href="{{ post.url }}" style="background-image:url('{{ site.url }}/assets/img/{{ post.thumbnail }}')">
							<span class="sr-only">{{ post.title }}</span>
						</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<a class="scrollable down" data-target="#contact" href="{{ site.url }}#contact" aria-hidden="true"></a>
</section>
<section class="container-fluid" id="contact">
	<div class="container">
		<h1>Get in touch !</h1>
		<p>Contactez-moi et je vous répondrai au plus vite.</p>
		<ul class="list-inline">
			<li>
				<a href="mailto:{{ site.social.email }}">
					<span class="fa fa-2x fa-fw fa-envelope-square" aria-hidden="true"></span>
					<span class="sr-only">Email</span>
				</a>
			</li>
			<li>
				<a href="{{ site.social.facebook }}" target="_blank">
					<span class="fa fa-2x fa-fw fa-facebook-square" aria-hidden="true"></span>
					<span class="sr-only">Facebook</span>
				</a>
			</li>
			<li>
				<a href="{{ site.social.linkedin }}" target="_blank">
					<span class="fa fa-2x fa-fw fa-linkedin-square" aria-hidden="true"></span>
					<span class="sr-only">Linkedin</span>
				</a>
			</li>
			<li>
				<a href="{{ site.social.tumblr }}" target="_blank">
					<span class="fa fa-2x fa-fw fa-tumblr-square" aria-hidden="true"></span>
					<span class="sr-only">Tumblr</span>
				</a>
			</li>
		</ul>
	</div>
</section>
