---
layout: home
permalink: /
---
{% assign catstr = ';' %}
{% for post in site.posts %}
{% for category in post.categories %}
{% if catstr contains category %}{% else %}
{% capture catstr %}{{ catstr | prepend:';' | prepend:category }}{% endcapture %}
{% endif %}
{% endfor %}
{% endfor %}
{% assign categories = catstr | split:';' | sort %}
<section class="container-fluid" id="accueil">
	<span class="sr-only">{{ site.title }} - {{ site.subtitle }}</span>
	<a class="scrollable down" data-target="#a-propos" href="{{ site.url }}#a-propos" aria-hidden="true"></a>
</section>
<section class="container-fluid" id="a-propos">
	<div class="container">
		<h1>À Propos</h1>
		<p>Je m’appelle Vanessa, j’ai 28 ans et je vis à Rennes.</p>
		<p>Suite à mon parcours de formation en Infographie à la <a href="http://www.mjm-design.com/formation/infographie" target="_blank">MJM Graphic Design</a> de Rennes (promotion 2014/2015), j’ai obtenu le titre professionnel de “concepteur en supports de communication” (BAC+2).</p>
		<p>Je suis désormais à la recherche d’un emploi d’infographiste. Si vous le souhaitez, vous pouvez consulter mon <a href="{{ site.url }}/assets/files/vanessa_robidou_cv.pdf" target="_blank">CV</a>.</p>
		<p>N’hésitez pas à me <a class="scrollable" data-target="#contact" href="{{ site.url }}#contact">contacter</a> ! À bientôt.</p>
	</div>
	<a class="scrollable down" data-target="#portfolio" href="{{ site.url }}#portfolio" aria-hidden="true"></a>
</section>
<section class="container-fluid" id="portfolio">
	<div class="container">
		<h1>Portfolio</h1>
		<ul class="nav nav-pills" id="categories">
			<li role="presentation" class="active"><a data-filter="*">Tout voir</a></li>
			{% for category in categories %}
			<li role="presentation"><a data-filter="{{ category | downcase | replace:' ','-' | prepend:'.category-' }}">{{ category | capitalize }}</a></li>
			{% endfor %}
		</ul>
		<div id="projects">
			{% for post in site.posts %}
			<div class="project{% for category in post.categories %}{{ category | downcase | replace:' ','-' | prepend:' category-' }}{% endfor %}">
				<div class="wrapper">
					<div class="picture">
						<a href="{{ post.url }}" style="background-image:url('{{ site.url }}/assets/img/{{ post.thumbnail }}')">
							<span class="sr-only">{{ post.title }}</span>
						</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<a class="scrollable down" data-target="#contact" href="{{ site.url }}#contact" aria-hidden="true"></a>
</section>
<section class="container-fluid" id="contact">
	<div class="container">
		<h1>Get in touch !</h1>
		<p>Contactez-moi et je vous répondrai au plus vite.</p>
		<ul class="list-inline">
			<li>
				<a href="mailto:{{ site.social.email }}">
					<span class="fa fa-2x fa-fw fa-envelope-square" aria-hidden="true"></span>
					<span class="sr-only">Email</span>
				</a>
			</li>
			<li>
				<a href="{{ site.social.facebook }}" target="_blank">
					<span class="fa fa-2x fa-fw fa-facebook-square" aria-hidden="true"></span>
					<span class="sr-only">Facebook</span>
				</a>
			</li>
			<li>
				<a href="{{ site.social.linkedin }}" target="_blank">
					<span class="fa fa-2x fa-fw fa-linkedin-square" aria-hidden="true"></span>
					<span class="sr-only">Linkedin</span>
				</a>
			</li>
			<li>
				<a href="{{ site.social.tumblr }}" target="_blank">
					<span class="fa fa-2x fa-fw fa-tumblr-square" aria-hidden="true"></span>
					<span class="sr-only">Tumblr</span>
				</a>
			</li>
		</ul>
	</div>
</section>
