<footer class="container-fluid">
	<div class="pull-left">
		&copy; 2015 {{ site.title }}
		<span class="hidden-xs">- Tous droits réservés</span>
	</div>
	<div class="pull-right">
		<a class="scrollable" data-target="#top" href="{{ site.url }}{% if page.permalink %}{{ page.permalink }}{% else %}{{ page.url }}{% endif %}">
			<span class="hidden-xs">Remonter en haut</span>
			<span class="icon-up" aria-hidden="true"></span>
		</a>
	</div>
</footer>
<script src="{{ site.url }}/assets/js/{{ page.javascript }}.js"></script>
</body>
</html>
