@import "common";

/* Sticky footer */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: $navbar-height * 0.7;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* Navbar */
.navbar {
	.navbar-text {
		margin-left: $navbar-padding-horizontal;
	}

	.icon-prev {
		//@extend .fa;
		//@extend .fa-lg;
		//@extend .fa-fw;
		//@extend .fa-chevron-circle-left;

	}
}

/* Carousel */
.carousel {
	padding: 0;

	> .carousel-inner > .item > .wrapper {
		position: relative;
		padding-bottom: 66%;

		> .picture {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			background-size: 100% auto;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	> .carousel-control {
		width: 7%;
		background: none;
		filter: none;

		> .icon-next,
		> .icon-prev {
			//@extend .fa;
			//@extend .fa-lg;

		}

		> .icon-next {
			//@extend .fa-angle-right;

		}

		> .icon-prev {
			//@extend .fa-angle-left;

		}
	}
}
