@import "common";

/* Sticky footer */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: $navbar-height * 0.7;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* Navbar */
.navbar {
	a {
		margin-left: 10px;
		color: $color1;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $color0;
			text-decoration: none;
		}
	}
}

/* Carousel */
.carousel {
	padding: 0;

	.wrapper {
		position: relative;
		padding-bottom: 66%;

		.picture {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			background-size: 100% auto;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	.carousel-control {
		width: 7%;
		background: none;
		filter: none;

		.icon-right {
			@extend .icon-next;
		}

		.icon-left {
			@extend .icon-prev;
		}
	}
}
