@import "common";

/* Sticky footer */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: $navbar-height * 0.7;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* Navbar */
.navbar {
	a {
		margin-left: 10px;
		color: $color1;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $color0;
			text-decoration: none;
		}
	}
}

/* Pictures */
.pictures {
	img + img {
		margin-top: $navbar-margin-bottom;
	}
}
