/* Navbar link */
.navbar-default {
	border-bottom: 0;
	.navbar-nav {
		> li > a:focus {
			background-color: transparent;
		}
		> .active > a {
			background-color: $navbar-default-link-hover-bg;
		}
	}
}
/* Footer */
footer {
	height: $navbar-height * 0.75;
	line-height: $navbar-height * 0.75;
	background-color: $color2;
	font-size: .9em;
	a {
		color: $text-color;
		text-decoration: none;
		&:hover,
		&:focus {
			color: $text-color;
			text-decoration: none;
		}
	}
}
