/* Navbar link */
$navbar-brand-vertical: 2px;

.navbar-default {
	border: 0;

	.navbar-brand {
		padding: $navbar-brand-vertical $navbar-padding-horizontal;
		font-size: $navbar-height - 2 * $navbar-brand-vertical;
		line-height: $navbar-height - 2 * $navbar-brand-vertical;
	}

	.navbar-nav {
		font-weight: 300;
		text-transform: uppercase;

		li a:focus {
			background-color: transparent;
		}

		.active a {
			background-color: $navbar-default-link-hover-bg;
		}
	}
}

/* Footer */
footer {
	height: $navbar-height * 0.7;
	line-height: $navbar-height * 0.7;
	background-color: $color1;
	font-size: .8em;
	color: $color0;

	a {
		color: $color0;
		text-decoration: none;

		.icon-up {
			margin-left: 10px;
		}

		&:hover,
		&:focus {
			color: $color0;
			text-decoration: none;
		}
	}
}
