/* Navbar link */
.navbar-default {
	border-bottom: 0;
	.navbar-nav {
		> li > a:focus {
			background-color: transparent;
		}
		> .active > a {
			background-color: $navbar-default-link-hover-bg;
		}
	}
}
/* Footer */
footer {
	height: $navbar-height * 0.7;
	line-height: $navbar-height * 0.7;
	background-color: $color2;
	font-size: .8em;
	a {
		color: $text-color;
		text-decoration: none;
		> .icon-up {
			@extend .fa;
			@extend .fa-lg;
			@extend .fa-fw;
			@extend .fa-chevron-circle-up;
		}
		&:hover,
		&:focus {
			color: $text-color;
			text-decoration: none;
		}
	}
}
