@import 'common';
/* Scrollspy */
body {
	position: relative;
}
/* Section */
html, body {
	height: 100%;
}
@mixin section-color($background, $text, $title, $down) {
	@if $background != $body-bg { background-color: $background; }
	@if $text != $text-color { color: $text; }
	@if $title != $text-color {
		h1 {
			color: $title;
		}
	}
	@if $down != $link-color {
		> .down {
			color: $down;
			&:hover,
			&:focus {
				color: $down;
			}
		}
	}
}
section {
	position: relative;
	padding: ($navbar-height + 10) 0;
	h1 {
		margin-bottom: $navbar-height;
		font-weight: 500;
	}
	p {
		margin: 0 0 $line-height-computed;
	}
	> .down {
		@extend .fa;
		@extend .fa-4x;
		@extend .fa-caret-down;
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 50px;
		margin-left: -25px;
		text-align: center;
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	&#accueil {
		padding-top: ($navbar-height + 60);
		padding-left: 0;
		padding-right: 0;
		.wrapper {
			position: relative;
			width: 100%;
			&::after {
				content: "";
				display: block;
				padding-bottom: 41%;
			}
			.innerwrapper {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				.cadre {
					display: table;
					width: 100%;
					height: 100%;
					padding-left: 33%;
					background-image: url(../img/logo.png), url(../img/cadre.jpg);
					background-size: contain, cover;
					background-repeat: no-repeat, no-repeat;
					background-position: top left, center bottom;
					.text {
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						font-size: $font-size-h2;
						@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
							font-size: $font-size-h3;
						}
						@media (max-width: $screen-xs-max) {
							font-size: $font-size-h4;
						}
						.welcome {
							color: $color1;
							font-weight: 700;
							.small {
								font-weight: 300;
							}
						}
						.subtitle {
							font-size: 70%;
							color: $color3;
							font-weight: 500;
						}
					}
				}
			}
		}
		@include section-color($body-bg, $text-color, $text-color, $color2);
	}
	&#a-propos {
		a {
			font-weight: 700;
		}
		img.me {
			@extend .img-circle;
			@extend .center-block;
			margin: 20px auto;
		}
		@include section-color($color4, $color0, $color2, $color0);
	}
	&#prestations {
		@include section-color($body-bg, $text-color, $color3, $link-color);
	}
	&#portfolio {
		.row {
			margin-top: $grid-gutter-width;
		}
		.nav.nav-pills a {
			cursor: pointer;
		}
		#projects {
			@extend .row;
			> .project {
				@extend .col-xs-6;
				@extend .col-sm-4;
				@extend .col-md-3;
				@extend .col-lg-3;
				margin-bottom: $grid-gutter-width;
				.wrapper > .picture {
					position: relative;
					padding-bottom: 100%;
					> a {
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						width: 100%;
						background-size: 100% auto;
						background-position: center;
						background-repeat: no-repeat;
					}
				}
			}
		}
		@include section-color($body-bg, $text-color, $color4, $color4);
	}
	&#contact {
		ul {
			text-align: center;
			a {
				color: $color1;
				&:hover,
				&:focus {
					color: $color1;
				}
			}
		}
		@include section-color($color4, $color0, $color0, $link-color);
	}
}
