@import "common";

/* Scrollspy */
body {
	position: relative;
}

/* Section */
html, body {
	height: 100%;
}

@mixin section-color($background, $text, $title) {
	@if $background != $body-bg {
		background-color: $background;
	}

	@if $text != $text-color {
		color: $text;
	}

	@if $title != $text-color {
		h1 {
			color: $title;
		}
	}
}

section {
	position: relative;
	padding: ($navbar-height + 10) 0;

	h1 {
		margin-bottom: $navbar-height;
		font-weight: 700;
		text-transform: uppercase;
	}

	p {
		margin: 0 0 $line-height-computed;
	}

	&#accueil {
		padding-top: 2 * $navbar-height + 10;
		background-image: url(../img/accueil-bg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		@media (max-width: $screen-xs-max) {
			padding: $navbar-height 0 0;
		}

		.cadre {
			display: table;
			background: rgba($color3, 0.9);
			color: $color0;
			padding: $navbar-height 0;
			font-size: $font-size-h1;

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				font-size: $font-size-h2;
			}

			@media (max-width: $screen-xs-max) {
				font-size: $font-size-h3;
				width: 100%;
			}

			> div {
				display: table-cell;

				@media (max-width: $screen-xs-max) {
					display: table-row;
				}
			}

			.logo {
				width: 40%;
				vertical-align: middle;
				text-align: center;
				font-size: 220px;
				line-height: 220px;

				@media (max-width: $screen-xs-max) {
					font-size: 150px;
					line-height: 150px;
				}
			}

			.text {
				vertical-align: middle;
				text-align: center;
				font-weight: 700;

				.welcome {
					color: $color1;

					.small {
						font-weight: 300;
					}
				}

				.subtitle {
					font-size: 70%;
					color: $color4;
				}
			}
		}

		> .down {
			position: absolute;
			bottom: $navbar-height / 4 + 5;
			left: 50%;
			width: 0;
			height: 0;
			margin-left: -($navbar-height / 2);
			border-left: ($navbar-height / 2) solid transparent;
			border-right: ($navbar-height / 2) solid transparent;
			border-top: ($navbar-height / 2) solid $color2;
		}

		@include section-color($body-bg, $text-color, $text-color);
	}

	&#a-propos {
		a {
			font-weight: 700;
		}

		@include section-color($color4, $color0, $color2);
	}

	&#prestations {
		@include section-color($body-bg, $text-color, $color3);
	}

	&#portfolio {
		.row {
			margin-top: $grid-gutter-width;
		}

		.nav.nav-pills a {
			cursor: pointer;
		}

		#projects {
			@extend .row;

			> .project {
				@extend .col-xs-6;

				@extend .col-sm-4;

				@extend .col-md-3;

				@extend .col-lg-3;

				margin-bottom: $grid-gutter-width;

				.wrapper > .picture {
					position: relative;
					padding-bottom: 100%;

					> a {
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						width: 100%;
						background-size: 100% auto;
						background-position: center;
						background-repeat: no-repeat;
					}
				}
			}
		}

		@include section-color($body-bg, $text-color, $color4);
	}

	&#contact {
		ul {
			text-align: center;

			a {
				color: $color1;

				&:hover,
				&:focus {
					color: $color1;
				}
			}
		}

		@include section-color($color4, $color0, $color0);
	}
}
