/* Scrollspy */
body {
	position: relative;
}
/* Navbar link */
.navbar-default .navbar-nav {
	> li > a:focus {
		background-color: transparent;
	}
	> .active > a {
		background-color: $navbar-default-link-hover-bg;
	}
}
/* Slide */
html, body, main {
	height: 100%;
}
.slide {
	position: relative;
	height: 100%;
	padding: ($navbar-height + 10) 0 $navbar-height 0;
}
.slide:nth-child(even) {
	color: $color1;
	background-color: $color3;
}
.slide:not(:last-of-type)::after {
	@extend .fa;
	@extend .fa-4x;
	content: $fa-var-angle-down;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
