/* Scrollspy */
body {
	position: relative;
}
/* Navbar link */
.navbar-default .navbar-nav {
	> li > a:focus {
		background-color: transparent;
	}
	> .active > a {
		background-color: $navbar-default-link-hover-bg;
	}
}
/* Slide */
html, body {
	height: 100%;
}
.slide {
	position: relative;
	padding: ($navbar-height + 10) 0;
}
.slide-down {
	@extend .fa;
	@extend .fa-4x;
	text-decoration: none;
	color: $text-color;
	text-align: center;
	width: 50px;
	margin-left: -25px;
	position: absolute;
	bottom: 0;
	left: 50%;
	&:hover, &:focus {
		text-decoration: none;
		color: $text-color;
	}
}
.slide-down::before {
	content: $fa-var-angle-down;
}
.slide:nth-of-type(even) {
	color: $color1;
	background-color: $color3;
	.slide-down {
		color: $color1;
		&:hover, &:focus {
			color: $color1;
		}
	}
}
.slide:first-of-type {
	min-height: 100%;
}
.slide:nth-of-type(3), .slide:nth-of-type(4) {
	min-height: 100%;
}
.slide h1 {
	margin-bottom: $navbar-height;
	font-weight: 500;
}
.slide p {
	margin: 0 0 $line-height-computed;
}
