$color1:				#fff;
$color2:				#7784a7;
$color3:				#3d4c70;
$body-bg:				$color1;
$navbar-default-bg:			$color3;
$navbar-default-link-hover-bg:		$color2;
$navbar-default-link-active-bg:		$color2;
$link-color:				lighten($color3, 30%);
$link-hover-color:			$link-color;
$nav-pills-active-link-hover-bg:	$color3;
$icon-font-path:			"../fonts/";
$web-font-path: "https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700";
$font-family-sans-serif:  "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
@import 'bootswatch/variables';
@import 'bootstrap/variables';
$container-lg:			$container-md;
@import 'fontawesome/variables';
