---
---
$color1:			#fff;
$color2:			#7784a7;
$color3:			#3d4c70;
$body-bg:			$color1;
$navbar-default-bg:		$color2;
$navbar-default-link-hover-bg:	$color3;
$navbar-default-link-active-bg:	$color3;
$link-color:			lighten($color3, 30%);
$link-hover-color:		$link-color;
$icon-font-path:		"../fonts/";
@import 'bootswatch/variables';
@import 'bootstrap/bootstrap/variables';
@import 'bootstrap/bootstrap';
@import 'bootswatch/bootswatch';
@import 'fontawesome/fontawesome';
@import 'style/style';
